html,
body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  background: #239f85;
  font-family: Roboto, sans-serif;
}
.container {
  width: 550px;
  margin: 100px auto;
}
.frame {
  width: 550px;
  margin: 100px auto;
  position: relative;
  overflow: hidden;
  background: white;
  padding: 2em 3em 10em;
  border-radius: 5px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}
.frame::after {
  content: "";
  position: absolute;
  bottom: -40%;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/bicycle.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.order {
  width: 100%;
}
.title {
  text-align: left;
}
.subtitle {
  font-size: 0.9em;
  color: darkgray;
}
.item {
  line-height: 2.5;
}
.item-name,
.total {
  color: dimgrey;
}
.item-price,
.total-price {
  text-align: right;
}
.total,
.item-price,
.total-price {
  text-transform: uppercase;
  font-weight: 500;
}
