html,
body {
  height: 100%;
  background-color: #85a5d4;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    Roboto, sans-serif;
}

.frame {
  display: flex;
  text-align: center;
  background-color: white;
  width: 66.66%;
}

.col {
  width: 33.33%;
  padding: 50px;
}

.item-title {
  font-weight: bold;
  color: #8b95b9;
  text-transform: uppercase;
}

.item {
  text-decoration: none;
}

.item-price {
  color: #85a5d4;
  font-size: xx-large;
}
.description {
  color: #d1d2d4;
}

.item-price-month {
  font-size: medium;
}
.item-image {
  width: 75px;
  height: 50px;
}

.item-currency {
  font-size: small;
}
